@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 70rem;
    width: 90%;
    margin: 5rem auto;
}

.card {
    display: flex;
    max-width: 100%;
    margin: 5rem auto;
    border-radius: 10px;
    overflow: hidden;
    background: hsl(244, 38%, 16%);
}

.card-text {
    padding: 4.2em;
}

.header-text {
    color: #fff;
    font-size: 2.5rem;
    /* font-size: 2.6vw; */
}

.header-text span {
    color: hsl(277, 64%, 61%);
}

.card-text .description {
    margin-top: 2em;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 200;
    max-width: 80%;
    line-height: 1.7;
}

.card-text .stats-box {
    margin-top: 3.7em;
    display: inline-flex;
    gap: 5em;
}

.card-text .stats-box span {
    display: inline-block;
    color: #fff;
    margin-bottom: 0.4em;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-text .stats-box p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.card-image {
    min-width: 540px;
    position: relative;
}

.card-image::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(277, 64%, 61%);
    opacity: 0.4;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
}

footer a {
    color: hsl(277, 64%, 61%);
}

footer:not(a) {
    color: #fff;
}

@media screen and (max-width: 425px) {
    .card-text .header-text {
        font-size: 1.5rem;
    }

    .card-text  {
        padding: 2rem 1.5rem !important; 
    }

    .card-text .description {
        font-size: 0.8rem !important;
    }

    main {
        margin-block: 2rem !important;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column-reverse;
        margin: auto;
    }

    .card-text .header-text {
        max-width: 100%;
        margin-inline: auto;
    }

    .card-text {
        text-align: center;
        padding: 2.5rem;
    }

    .card-text .description {
        max-width: 100%;
        margin-inline: auto;
        font-size: 1.2rem;
    }

    main {
        max-width: 71rem;
        width: 90%;
        margin: 1rem auto;
    }

    .card-image {
        min-width: initial;
    }

    img {
        width: 100%;
        height: auto;
    }

    .card-text .stats-box {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        
    }

    .card-text .stats-box span {
        font-size: 1.2rem;
    }

    .card-text .stats-box p {
        font-size: 0.7rem;
    }
}