@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: hsl(233, 47%, 7%);
}

main {
    width: 65%;
    margin: 8rem auto;
}

.container {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.text-part {
    display: flex;
    flex-direction: column;
    background: hsl(244, 38%, 16%);
    padding: 60px;
    gap: 20px;
}

.text-part h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

.text-part > p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    line-height: 23px;
    font-weight: 200;
    width: 90%;
}

.text-part .stats {
    display: flex;
    margin-top: 30px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.text-part .stats p {
    display: flex;
    flex-direction: column;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.text-part .stats p span {
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

.meeting-img {
    background-color: hsl(277, 64%, 61%);
}

.meeting-img img {
    width: 420px;
    height: 100%;
    opacity: 0.5;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width:600px) {
    .container {
        flex-direction: column-reverse;
    }

    .meeting-img {
        order: 1;
    }

    .text-part {
        padding: 40px;
        align-items: center;
    }

    .text-part h1 {
        text-align: center;
        padding: 0 30px;
    }

    .text-part > p {
        text-align: center;
    }

    .stats {
        flex-direction: column;
        gap: 45px;
        justify-content: center;
    }

    .stats p {
        align-items: center;
    }

    footer {
        display: none;
    }
}